.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background:url('https://media.giphy.com/media/9J8K8WEWLXZk7s0OMB/giphy.gif') no-repeat center center fixed;
  background-size: cover;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 94.5%;
  margin: 20px;
  border-radius: 10px;
  /* background-color: #e9e9eb; */
}

.app__formControl {
  flex-direction: row !important;
  display: flex !important;
  /* background-color: #e9e9eb; */
}

.app__input {
  /* background-color: #e9e9eb; */
  flex: 1;
}

.app__iconButton {
  /* background-color: #e9e9eb; */
  flex: 0;
}
